<div>
    <h3 *ngIf="isAddMode">{{'Creating' |translate}}</h3>
    <h3 *ngIf="!isAddMode">{{'Editing' |translate}} {{article.id}}</h3>
    <form (ngSubmit)="createArticle(form)" #form="ngForm">
        <div class="form-group">
            <label for="title">{{'Title' |translate}}</label>
            <input type="text" class="form-control" id="title" [ngModel]="article.title" name="title" required
                maxlength="100" #title="ngModel" [ngClass]="{'is-invalid': title.invalid && title.touched}">
            <p *ngIf=" title.invalid && title.touched" class="text-danger">{{'Wrong title' |translate}}</p>
        </div>
        <div class="form-group">
            <label for="date">{{'Date' |translate}}</label>
            <input class="form-control" id="date" type="date" [ngModel]="article.created | date:'yyyy-MM-dd'"
                name="date" required #date="ngModel" [ngClass]="{'is-invalid': date.invalid && date.touched}">
        </div>
        <p *ngIf=" date.invalid && date.touched" class="text-danger">{{'Wrong date' |translate}}</p>
        <div class="form-group">
            <label for="brief">{{'Brief' |translate}}</label>
            <textarea class="form-control" id="brief" rows="3" [ngModel]="article.brief" name="brief" required
                #brief="ngModel" [ngClass]="{'is-invalid': brief.invalid && brief.touched}" maxlength="500"></textarea>
        </div>
        <p *ngIf=" brief.invalid && brief.touched" class="text-danger">{{'Wrong brief' |translate}}</p>
        <div class="form-group">
            <label for="content">{{'Content' |translate}}</label>
            <textarea class="form-control" id="content" rows="10" [ngModel]="article.content" name="content" required
                #content="ngModel" [ngClass]="{'is-invalid': content.invalid && content.touched}" maxlength="2048"></textarea>
        </div>
        <p *ngIf=" content.invalid && content.touched" class="text-danger">{{'Wrong content' |translate}}</p>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{'Save' |translate}}</button>

        <a routerLink="/admin/articles" class="btn btn-primary">{{'Cancel' |translate}}</a>
    </form>
</div>