<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>hello thymeleaf new</p>
<tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
</tr>

<p>news</p>
<tr th:each="article : ${articles}">
    <td th:text="${article.id}"></td>
    <td th:text="${article.title}"></td>
    <td th:text="${article.brief}"></td>
    <td th:text="${article.content}"></td>
    <td th:text="${article.created}"></td>
</tr>
</body>
</html>