<div>
    <div class="menu" [hidden]="!isOpenConfirm">
        <div>{{'Confirm many delete' |translate}}</div>
        <div>
            <a class="btn btn-danger" (click)="deleteArticles()">{{'Yes' |translate}}</a>
            <a class="btn btn-primary" (click)="isOpenConfirm=false">{{'No' |translate}}</a>
        </div>
    </div>
    <form (ngSubmit)="openConfirmMenu(form)" #form="ngForm">
        <table>
            <tbody *ngFor="let article of articles">
                <tr>
                    <td class="title">{{article.title}}</td>
                    <td>{{article.created | date: 'dd/MM/yyyy'}}</td>
                </tr>
                <tr class="line">
                    <td>{{article.brief}}</td>
                    <td>
                        <a class="btn btn-primary" [routerLink]="['/article', article.id]">{{'View' |translate}}</a>
                        <a class="btn btn-primary" [routerLink]="['/admin/new-article', article.id]">{{'Edit'
                            |translate}}</a>
                        <input type="checkbox" [checked]="article.checked"
                            (change)="article.checked = !article.checked">
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">{{'Delete' |translate}}</button>
    </form>

</div>